@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

@media (max-width:1199px) {
    .slider_text {
        padding-right: 4%;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .login_form {
        padding: 15px 20px 5px;
    }
}

@media (max-width:991px) {
    .slider_text {
        padding-right: 15px;
    }
}

@media (max-width:767px) {
    .login_form_section {
    padding: 60px 0 100px;
}
}